<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>No Bullshit Simpsons</title></head>
<body style="color: rgb(0, 0, 0); background-color: rgb(255, 225, 26);" alink="#000099" link="#000099" vlink="#990099">
<div style="text-align: center;"><font size="+3"><span style="font-family: Simpsonfont; color: rgb(0, 153, 0);">NO
bullshit simpsons</span></font><span style="font-family: Simpsonfont;"></span></div>
<div style="text-align: center;"><span style="font-family: Simpsonfont;"><font size="-1"><font size="-2">
NO ADS! NO POPUPS! NO TRACKERS! NO bullShit!</font><br>
</font></span></div>
<div style="text-align: center;"><font size="-1"><span style="font-family: Simpsonfont;"><br>
Seasons &nbsp; <a href="/seasons/1">1</a>
&nbsp;<a href="/seasons/2">2</a>&nbsp; <a href="/seasons/3">3 </a>&nbsp;<a href="/seasons/4">4</a> <a href="/seasons/5">&nbsp;5</a>&nbsp;<a href="/seasons/6"> 6</a>&nbsp;<a href="/seasons/7"> 7</a>
<a href="/seasons/8">&nbsp;8</a> <a href="/seasons/9">&nbsp;9 </a><a href="/seasons/10">&nbsp;10</a>&nbsp; 11 &nbsp;12
&nbsp;13 &nbsp;14&nbsp; 15 &nbsp;16&nbsp; 17
&nbsp;18 &nbsp;19 &nbsp;20 &nbsp;21 &nbsp;22
&nbsp;23 &nbsp;24 &nbsp;25 &nbsp;26 &nbsp;27</span></font></div>
{% block content %}{% endblock %}
</body></html>