<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>No Bullshit Simpsons</title>

</head>
<body style="color: rgb(0, 0, 0); background-color: rgb(255, 225, 26);" alink="#000099" link="#000099" vlink="#990099">
<div style="text-align: center;"><font size="+3"><span style="font-family: Simpsonfont; color: rgb(0, 153, 0);">NO
bullshit simpsons</span></font><span style="font-family: Simpsonfont;"></span></div>
<div style="text-align: center;"><span style="font-family: Simpsonfont;"><font size="-1"><font size="-2">
NO ADS! NO POPUPS! NO TRACKERS! NO bullShit!</font><br>
</font></span></div>
{% block content %}{% endblock %}
</body></html>