{% extends "base.html" %}
{% block content %}
<br>
<br>
<div align="center"><img src="static/images/simfamily.png" >
<br>
<br>
<br>
</span></font>
<div style="text-align: center;"><span
 style="font-family: SimHei;">so i see you have found my
website, well its not &nbsp;pretty to look at but</span><br>
<span style="font-family: SimHei;">it will eventually have
all the simpsons seasons with no bullshit for your</span><br>
<span style="font-family: SimHei;">viewing pleasure.</span><font
 size="-1"><span style="font-family: Simpsonfont;"><span
 style="font-family: SimHei;"></span><font
 style="font-family: SimHei;" size="+1"></font></span></font><br>
<font size="-1"><span style="font-family: Simpsonfont;"></span></font></div>
<font size="-1"><span style="font-family: Simpsonfont;"><br>

{% endblock %}